<template>
  <v-row align="center" justify="center">
    <v-col>
      <v-stepper v-model="stepperStep" vertical>
        <v-stepper-step :complete="stepperStep > 1" step="1">
          Select Contacts
          <small>People or Groups</small>
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-autocomplete
            :items="contacts"
            item-text="name"
            item-value="id"
            @change="updateSelection"
            chips
            deletable-chips
            label="Select Contacts"
            multiple
            outlined
            return-object
          ></v-autocomplete>
          <v-btn color="primary" @click="stepperStep = 2">Continue</v-btn>
          <v-btn text>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="stepperStep > 2" step="2"
          >Choose Templates</v-stepper-step
        >

        <v-stepper-content step="2">
          <v-textarea
            solo
            name="input-template"
            label="Write Template Content"
            @input="updateTemplate"
          ></v-textarea>
          <v-card class="mb-12" height="200px">
            <v-card-title>Preview for {{ previewContact.name }}</v-card-title>
            <v-card-text>
              <p>{{ template.replace("$name", previewContact.name) }}</p>
            </v-card-text>
          </v-card>
          <v-btn color="primary" @click="prepareMessages">Continue</v-btn>
          <v-btn text @click="stepperStep = 1">Back</v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="stepperStep > 3" step="3"
          >Preview & Send Messages</v-stepper-step
        >

        <v-stepper-content step="3">
          <v-card class="mb-12" height="200px">
            <v-simple-table :fixed-header="true">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th>Contact</th>
                    <th>Message</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="message in messages" :key="message.contact">
                    <td>{{ message.contact }}</td>
                    <td>{{ message.body }}</td>

                    <td
                      class="text-center"
                      v-if="message.status == 'pending-action'"
                    >
                      <v-btn
                        class="ma-2"
                        tile
                        color="blue lighten-3"
                        @click="sendMessage(message)"
                        icon
                      >
                        <v-icon>mdi-send</v-icon>
                      </v-btn>
                      <v-btn
                        class="ma-2"
                        tile
                        color="red accent-1"
                        @click="deleteMessage(message)"
                        icon
                      >
                        <v-icon>mdi-delete-forever</v-icon>
                      </v-btn>
                    </td>
                    <td class="text-center" v-if="message.status == 'deleted'">
                      <v-btn
                        class="ma-2"
                        tile
                        color="blue lighten-3"
                        @click="restoreMessage(message)"
                        icon
                      >
                        <v-icon>mdi-undo</v-icon>
                      </v-btn>
                    </td>
                    <td class="text-center" v-if="message.status == 'sent'">
                      <v-icon>mdi-check</v-icon>
                    </td>
                    <td
                      class="text-center"
                      v-if="message.status == 'in-progress'"
                    >
                      <v-progress-circular
                        indeterminate
                        color="primary"
                      ></v-progress-circular>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
          <v-btn color="primary" @click="stepperStep = 4">Continue</v-btn>
          <v-btn text @click="stepperStep = 2">Back</v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => {
    return {
      stepperStep: 1,
      selected: [],
      template: "",
      messages: [],
    }
  },
  computed: {
    contacts() {
      return this.$store.getters.contacts
    },
    previewContact() {
      if (this.selected.length > 0) {
        return this.selected[0]
      } else {
        return this.contacts[0]
      }
    },
  },
  methods: {
    updateSelection(selected) {
      console.log("selected", selected)
      this.selected = selected
    },
    updateTemplate(template) {
      console.log("template", template)
      this.template = template
    },
    prepareMessages() {
      this.stepperStep = 3
      this.messages = []
      var contact
      for (contact of this.selected) {
        this.messages.push({
          contact: contact.name,
          body: this.template.replace("$name", contact.name),
          status: "pending-action",
        })
      }
    },
    sendMessage(message) {
      console.log("triggering sent message request", message)
      this.$root.$emit("send message", message.contact, message.body)
      message.status = "in-progress"
    },
    deleteMessage(message) {
      console.log("deleting Message", message)
      message.status = "deleted"
    },
    restoreMessage(message) {
      console.log("restoring Message", message)
      message.status = "pending-action"
    },
  },
  mounted: function() {
    this.$root.$on("message sent", (contactName, message) => {
      console.log("recieved message sent event", contactName, message)
      var msg = this.messages.find(
        m => m.contact === contactName && m.body === message
      )
      console.log("message: ", msg)
      msg.status = "sent"
    })
  },
}
</script>
