<template>
  <v-row class="fill-height">
    <v-col>
      <v-data-table
        :headers="headers"
        :items="contacts"
        sort-by="calories"
        class="elevation-1"
        :items-per-page="15"
        :search="search"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Contacts</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
              class="full-width"
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn class="mx-2" fab dark small color="primary" v-on="on">
                  <v-icon dark>mdi-plus</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedContact.whatsappName" label="ًWhatsapp Name"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedContact.name" label="Name"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDialog">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="saveDialog">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small @click="deleteContact(item)">mdi-delete</v-icon>
        </template>
        <template v-slot:item.name="props">
          <v-edit-dialog @save="save" @cancel="cancel" @open="open" @close="close">
            {{ props.item.name }}
            <template v-slot:input>
              <v-text-field
                :value="props.item.name"
                @change="editContactName(props.item, $event)"
                label="Edit"
                single-line
                counter
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>
        <template v-slot:no-data>
          <div>
            <v-card-subtitle>No contacts available, You can import contacts through WhatsApp view.</v-card-subtitle>
          </div>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>


<script>
export default {
  data: () => ({
    snack: false,
    snackColor: "",
    snackText: "",
    search: "",
    editedName: "",
    dialog: false,
    headers: [
      {
        text: "Whatsapp Name",
        align: "start",
        sortable: true,
        value: "whatsappName"
      },
      { text: "Name", value: "name", sortable: true },
      { text: "Actions", value: "actions", sortable: false }
    ],
    editedIndex: -1,
    editedContact: {
      id: "",
      name: "",
      whatsappName: ""
    },
    defaultContact: {
      id: "",
      name: "",
      whatsappName: ""
    }
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Contact" : "Edit Contact";
    },
    contacts() {
      return this.$store.getters.contacts;
    }
  },
  watch: {
    dialog(val) {
      val || this.closeDialog();
    }
  },
  methods: {
    deleteContact(contact) {
      confirm("Are you sure you want to delete this contact?") &&
        this.$store.dispatch("deleteContact", contact);
    },
    editContactName(contact, name) {
      var updatedContact = Object.assign({}, contact);
      updatedContact.name = name;
      this.$store.dispatch("editContact", updatedContact);
    },
    closeDialog() {
      this.dialog = false;
      setTimeout(() => {
        this.editedContact = Object.assign({}, this.defaultContact);
        this.editedIndex = -1;
      }, 300);
    },
    saveDialog() {
      if (this.editedIndex > -1) {
        this.$store.dispatch("editContact", this.editedContact);
      } else {
        this.$store.dispatch("createContact", this.editedContact);
      }
      this.closeDialog();
    },
    save() {
      this.snack = true;
      this.snackColor = "success";
      this.snackText = "Data saved";
    },
    cancel() {
      this.snack = true;
      this.snackColor = "error";
      this.snackText = "Canceled";
    },
    open() {
      this.snack = true;
      this.snackColor = "info";
      this.snackText = "Dialog opened";
    },
    close() {
      console.log("Dialog closed");
    }
  }
};
</script>