<template>
  <v-row align="center" justify="center">
    <v-col>
      <h1>Hi</h1>
    </v-col>
  </v-row>
</template>


<script>
export default {
  data: () => {
    return {
      stepperStep: 1,
      selected: [],
      template: "",
      messages: []
    };
  }
};
</script>