<template>
  <v-card class="elevation-12 fill-height">
    <v-toolbar>
      <v-toolbar-title>Whatsapp View</v-toolbar-title>
      <v-chip class="ma-2" color="blue lighten-1" text-color="white">{{
        connectionStatus
      }}</v-chip>

      <v-spacer></v-spacer>
      <v-dialog v-model="importedContactsDialog" scrollable max-width="300px">
        <v-card>
          <v-card-title>Select Contacts to import</v-card-title>
          <v-card-subtitle
            >{{ selectedImportedContacts.length }} /
            {{ importedContacts.length }} Selected</v-card-subtitle
          >
          <v-divider></v-divider>
          <v-card-text style="height: 300px;">
            <v-checkbox
              key="select-all"
              label="Select All"
              @change="selectAll($event)"
            ></v-checkbox>
            <v-checkbox
              v-model="selectedImportedContacts"
              v-for="contact in importedContacts"
              :key="contact"
              :label="contact"
              :value="contact"
            ></v-checkbox>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn
              color="blue darken-1"
              text
              @click="importedContactsDialog = false"
              >Close</v-btn
            >
            <v-btn color="blue darken-1" text @click="saveImportedContacts"
              >Save</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-progress-circular
            v-model="importProgress"
            :size="52"
            color="blue lighten-1"
          >
            <v-btn
              class="mx-2"
              fab
              dark
              small
              color="primary"
              v-on="on"
              @click="requestContacts"
            >
              <v-icon dark>mdi-import</v-icon>
            </v-btn>
          </v-progress-circular>
        </template>
        <span>Import contacts</span>
      </v-tooltip>
    </v-toolbar>
    <webview
      id="whatsapp"
      src="https://web.whatsapp.com/"
      :preload="preload"
      class="fill-height"
      useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"
    ></webview>
  </v-card>
</template>

<script>
export default {
  data: () => {
    return {
      preload: `file:${require("path").resolve(__static, "./injector.js")}`,
      connectionStatus: "initializing",
      importedContactsDialog: false,
      importedContacts: [],
      importProgress: 0,
      selectedImportedContacts: [],
      searchBoxFocused: false,
      activeMessageContactName: "",
      activeMessageContent: "",
    }
  },
  computed: {
    contacts() {
      return this.$store.getters.contacts
    },
    existingContactNames() {
      return this.contacts.map(c => c.whatsappName)
    },
  },
  methods: {
    resetImport() {
      this.importProgress = 0
      this.importedContacts = []
      this.selectedImportedContacts = []
    },
    selectAll(e) {
      if (e) {
        this.selectedImportedContacts = this.importedContacts
      } else {
        this.selectedImportedContacts = []
      }
    },
    saveContacts(contacts) {
      this.$store.dispatch("appendToContacts", contacts)
    },
    requestContacts() {
      this.resetImport()
      var webview = document.getElementById("whatsapp")
      webview.send("contacts-request")
    },
    recievePartialContacts(event) {
      const progress = event.args[0]
      let contactNames = event.args[1]
      // remove duplicates in contactNames
      contactNames = [...new Set(contactNames)]

      // remove contacts that already exist in names
      contactNames = contactNames.filter(
        c => !this.existingContactNames.includes(c)
      )

      this.importedContacts = this.importedContacts.concat(
        contactNames.filter(name => this.importedContacts.indexOf(name) < 0)
      )
      this.importProgress = progress

      // if completed, show the dialog
      if (this.importProgress === 100) {
        this.importedContactsDialog = true
      }
    },
    simulateButtonClick(webview, location) {
      webview.sendInputEvent({
        type: "mouseDown",
        x: location.x,
        y: location.y,
        button: "left",
        clickCount: 1,
      })
      webview.sendInputEvent({
        type: "mouseUp",
        x: location.x,
        y: location.y,
        button: "left",
        clickCount: 1,
      })
    },
    continueMessageFlow() {
      // sleep for a second
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms))
      }

      const contactName = this.activeMessageContactName
      const message = this.activeMessageContent
      var webview = document.getElementById("whatsapp")

      sleep(1000).then(() => {
        console.log("Sending contact name ... ")
        for (const c of contactName) {
          webview.sendInputEvent({ type: "char", keyCode: c })
        }
        console.log("contact-name-sent")

        sleep(1000).then(() => {
          console.log("clicking first match ...")
          const firstMatchLocation = { x: 77, y: 194 }
          this.simulateButtonClick(webview, firstMatchLocation)
          console.log("first-match-clicked")

          sleep(1000).then(() => {
            console.log("clicking message box ...")
            const messageBoxLocation = { x: 341, y: 952 }
            this.simulateButtonClick(webview, messageBoxLocation)
            console.log("messsage-box-clicked")

            sleep(1000).then(() => {
              console.log("writing message...")
              for (const c of message) {
                webview.sendInputEvent({
                  type: "char",
                  keyCode: c,
                })
              }
              console.log("messsage-written")

              sleep(1000).then(() => {
                // webview.send("click-send-button")
                this.$root.$emit("message sent", contactName, message)
              })
            })
          })
        })
      })
    },
    sendMessageToContact(contactName, message) {
      this.activeMessageContactName = contactName
      this.activeMessageContent = message
      var webview = document.getElementById("whatsapp")
      webview.send("search-box-focus")
    },
    saveImportedContacts() {
      this.importedContactsDialog = false
      var toImport = this.selectedImportedContacts.map(e => {
        return { id: e, name: e, whatsappName: e }
      })
      this.saveContacts(toImport)
    },
    setupListeners() {
      var webview = document.getElementById("whatsapp")

      webview.addEventListener("dom-ready", function() {
        webview.openDevTools()
      })

      webview.addEventListener("ipc-message", event => {
        console.log(event)
        if (event.channel === "contacts-response") {
          this.recievePartialContacts(event)
        }
        if (event.channel === "connection-status") {
          this.connectionStatus = event.args[0]
        }
        if (event.channel === "search-box-in-focus") {
          this.searchBoxFocused = true
          console.log("search-box-active")

          this.continueMessageFlow()
        }
      })
    },
  },
  mounted: function() {
    this.setupListeners()
    this.$root.$on("send message", (contactName, message) => {
      console.log("recieved sent message request", contactName, message)
      this.sendMessageToContact(contactName, message)
    })
  },
}
</script>
